---
import { ViewTransitions } from 'astro:transitions';

const { data } = Astro.props;
---

	<!-- <li class="link-card list-none bg-bunker-800 backdrop-blur-sm rounded-2xl text-text-50"  transition:name={`box ${data?.id} image`}>
		<a href={`/services/${data?.id}`} class="flex flex-col gap-1">
			<div class="h-44">
				<img src={data?.img}  alt="carga seca" class="w-full h-full object-cover rounded-t-2xl" transition:name={`service ${data?.id} image`}>
			</div>
			<h2 class="p-3 font-bold text-xl"   transition:name={`title ${data?.id} image`}>
				{data?.title}
				<span>&rarr;</span>
			</h2>
			<p class="p-3"  transition:name={`body ${data?.id} image`}>
				{data?.body}
			</p>
		</a>
	</li> -->
	<!-- <li class="link-card list-none bg-bunker-800 backdrop-blur-sm rounded-2xl text-text-50"  transition:name={`box ${data?.id} image`}>
		<a href={`/services/${data?.id}`} class="flex flex-col gap-1">
			<img src={data?.img}  alt="carga seca" class="w-full h-full object-cover rounded-2xl hover:cursor-pointer" transition:name={`service ${data?.id} image`}>
		</a>
	</li> -->
	<section  class="py-10" transition:name={`box ${data?.id} image`}>
			<div class="relative flex w-80 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-personalizado">
				<a  href={`/services/${data?.id}`} class="flex flex-col gap-1" class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40 bg-gradient-to-r from-blue-500 to-bunker-900">
					<img src={data?.img}  alt="carga seca" class="w-full h-full object-cover rounded-t-2xl hover:cursor-pointer" transition:name={`service ${data?.id} image`}>
				</a>
				<div class="p-6">
					<h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
					Tailwind card
					</h5>
					<p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc felis ligula. 
					</p>
				</div>
				<div class="p-6 pt-0">
					<button data-ripple-light="true" type="button" class="select-none rounded-lg bg-bunker-900 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
						Read More
					</button>
				</div>
			</div>
</section>

	<ViewTransitions/>
	

<style>

	li{
		transition: 0.2s;
		box-shadow: 0px 0px 14px 0px rgba(125,125,125,1);
		-webkit-box-shadow: 0px 0px 14px 0px rgba(125,125,125,1);
		-moz-box-shadow: 0px 0px 14px 0px rgba(125,125,125,1);
	}
	li:hover{
		box-shadow: none;
	}
</style>
